
.heading{
  font-family: 'Noto Sans', sans-serif;
  font-size: 72px;
  color: #272727;
  display: block;
  margin: 360px auto;
  text-align: center;
}

.about__contents{
  margin: 0 auto;
  width: 720px;
  padding-bottom: 200px;
  /* background: #f1f1f1; */
}

.about__introduction{
  margin: 0 auto;
}
.about__introduction__img{
  margin-top: 24px;
  display: block;
  width: 216px;
  float: left;
}

.about__introduction__text{
  display: block;
  float: left;
  margin-left: 40px;
  width: 462px;
  font-size: 16px;
}

.about__introduction__title{
  display: block;
  float: left;
  font-size: 24px;
  line-height: 48px;
}


.about__introduction__details{
  display: block;
  float: left;
  font-size: 16px;
  color: #9b9b9b;
  line-height: 48px;
}


.about__skill{
  margin: 0 auto;
  margin-top: 180px;
}

.about__skill__img{
  margin-top: 30px;
  display: block;
  width: 416px;
  float: left;
}

.about__skill__text{
  display: block;
  float: left;
  margin-right: 20px;
  width: 280px;
  font-size: 16px;
}

.about__skill__title{
  display: block;
  float: left;
  font-size: 24px;
  line-height: 48px;
}


.about__skill__details{
  display: block;
  float: left;
  font-size: 16px;
  color: #9b9b9b;
  line-height: 48px;
}


.about__internship{
  margin: 0 auto;
  margin-top: 180px;
}

.about__internship__img{
  margin-top: 80px;
  display: block;
  width: 216px;
  float: left;
}

.about__internship__text{
  display: block;
  float: left;
  margin-left: 40px;
  width: 462px;
  font-size: 16px;
}

.about__internship__title{
  display: block;
  float: left;
  font-size: 24px;
  line-height: 48px;
}


.about__internship__details{
  display: block;
  float: left;
  font-size: 16px;
  color: #9b9b9b;
  line-height: 48px;
}


.about__contact{
  box-sizing: border-box;
  text-align: center;
  width: 396px;
  height: 72px;
  display: block;
  margin: 0 auto;
  margin-top: 180px;
  padding-top: 22px;
  border-radius: 72px;
  text-decoration: none;
  color: #FFF;
  font-size: 24px;
  background: #272727;
  transition: .4s;
  font-weight: 400;
  box-shadow: 0px 0px 10px 0px rgba(74,74,74,0.2);
}

.about__contact:hover {
  /* -webkit-transform: translateY(-8px); */
  box-shadow: 0px 8px 20px 10px rgba(74,74,74,0.2);
}


@media screen and (max-width: 1024px) {
    /* 1024pxまでの幅の場合に適応される */
    .heading{
      margin: 320px auto;
    }
}
@media screen and (max-width: 768px) {
    /* 768pxまでの幅の場合に適応される */
    .heading{
      margin: 520px auto;
    }

    .about__contents{
      width: 640px;
    }
    .about__introduction__img{
      margin-top: 72px;
      width: 184px;
    }
    .about__introduction__text{
      margin-left: 20px;
      width: 420px;
    }

    .about__skill__img{
      margin-top: 30px;
      width: 376px;
      float: left;
    }

    .about__skill__text{
      margin-right: 20px;
      width: 220px;
    }


    .about__internship{
      margin: 0 auto;
      margin-top: 180px;
    }

    .about__internship__img{
      margin-top: 80px;
      width: 184px;
    }

    .about__internship__text{
      margin-left: 20px;
      width: 420px;
    }

}
@media screen and (max-width: 480px) {
    /* 480pxまでの幅の場合に適応される */
    .heading{
      font-size: 48px;
      margin: 360px auto;
      font-family: 'Noto Sans', sans-serif;
    }
    .about__contents{
      width: 320px;
    }
    .about__introduction__img{
      margin-left: 0px;
      margin-top: 72px;
      width: 184px;
    }
    .about__introduction__text{
      margin-left: 0px;
      width: 320px;
    }

    .about__skill__img{
      margin-top: 30px;
      width: 120px;
      float: left;
      display: none;
    }

    .about__skill__text{
      margin-right: 20px;
      width: 220px;
    }


    .about__internship{
      margin: 0 auto;
      margin-top: 180px;
    }

    .about__internship__img{
      margin-top: 80px;
      width: 184px;
      margin-left: 0px;
    }

    .about__internship__text{
      margin-left: 0px;
      width: 320px;
    }

}
@media screen and (max-width: 320px) {
    /* 320pxまでの幅の場合に適応される */
}
