html{
    line-height: 24px;
}
body{
    background: #ffffff;
    font-size: 62.5%;
    font-family: 'Noto Sans', sans-serif;
    color: #272727;
}

.header{
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
    display: block;
    overflow: hidden;
}
.header img{
    width: 300px;
    float: left;
}
.header nav{
    padding-top: 120px;
    float: right;
    display: block;
    overflow: hidden;
}
.header nav ul li{
    float: left;
    font-size: 1.2rem;
    margin-right: 50px;
}

.header nav ul li a{
    text-decoration: none;
    color: #272727;
}

.header nav ul li a:hover{
    transition: 0.2s;
    color: #d5d5d5;
}

hr {
    width: 900px;
    height: 30px;
    border: none;
    border-bottom: 2px #e9e9e9 solid;
}



.container{
    padding-top: 48px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 48px;
}

.container h1{
    line-height: 48px;
    font-weight: normal;
    font-size: 2rem;
    margin: 0 auto 24px;
    width: 640px;

}
.container iframe{
    width: 640px;
    display: block;
    margin: 0 auto;
}

.container img{
    width: 640px;
    display: block;
    margin: 0 auto;
}

.container h2{
    line-height: 48px;
    font-weight: normal;
    font-size: 1.4rem;
    margin: 48px auto 0px;
    width: 640px;
}

.sub{
    display: block;
    background: #f1f1f1;
    font-size: 0.8rem;
    border-radius: 5px;
    margin: 10px auto;
    width: 640px;
    height: 24px;
    padding-top: 12px;
    padding-left: 12px;
    color: #272727;
}

.sub--inline{
    display: inline-block;
    background: #f1f1f1;
    font-size: 0.8rem;
    border-radius: 5px;
    margin: 10px auto;
    width: 640px;
    height: 24px;
    padding-top: 12px;
    padding-left: 12px;
    color: #272727;
    line-height: 12px;
}
.text{
    font-size: 1.0rem;
    margin: 0 auto;
    width: 640px;
    line-height: 48px;
}

.text a{
    color: #272727;
}

/*footerにまつわるスタイル*/
.footer{
    background: #f9f9f9;
    color: #d5d5d5;
    text-align: center;
    padding: 20px;
    font-size: 0.8rem;
}

@media screen and (max-width: 1024px) {
    /* 1024pxまでの幅の場合に適応される */
    body {
        background-color:#ffffff;
    }
    hr {
        width: 500px;
    }
    .header nav ul li{
        margin-right: 30px;
    }

}
@media screen and (max-width: 768px) {
    /* 768pxまでの幅の場合に適応される */
    body {
        background-color:#ffffff;
    }
    .header{
        padding-top: 50px;
        padding-left: 100px;
        padding-right: 100px;
    }
    .header img{
        width: 250px;
    }
    .header nav{
        padding-top: 100px;
    }
    .header nav ul li{
        margin-right: 50px;
    }
    .container{
        padding-top: 15px;
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 100px;
    }

    hr {
        width: 600px;
    }


}
@media screen and (max-width: 480px) {
    /* 480pxまでの幅の場合に適応される */
    body {
        background-color:#ffffff;
    }
    .header{
        padding-top: 50px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .header img{
        width: 150px;
    }
    .header nav{
        padding-top: 50px;
    }
    .header nav ul li{
        margin-right: 25px;
    }

    hr {
        width: 300px;
    }
    .container{
        padding-top: 15px;
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 72px;
    }

    .container h1{
        font-size: 1.4rem;
        width: 300px;
        margin: 24px auto 24px;
    }
    .container h2{
        font-size: 1.2rem;
        margin: 24px auto 0px;
    }
    .container iframe{
        width: 300px;
        height: 240px;
        display: block;
        margin: 0 auto;
    }
    .container img{
        width: 300px;
    }
    .container h2{
        font-size: 1.2rem;
        width: 300px;
    }
    .text{
        font-size: 1.0rem;
        width: 300px;
    }

    .sub{
        width: 300px;
    }

    .sub--inline{
        width: 300px;
    }

}
@media screen and (max-width: 320px) {
    /* 320pxまでの幅の場合に適応される */
    body {
        background-color: #ffffff;
    }
    .header img{
        width: 120px;
    }
    .header nav{
        padding-top: 40px;
    }
    .header nav ul li{
        margin-right: 10px;
    }
    hr {
        width: 280px;
    }
    .container iframe{
        width: 240px;
        height: 200px;
        display: block;
        margin: 0 auto;
    }
    .container img{
        width: 240px;
    }
    .container h1{
        width: 240px;
    }
    .container h2{
        width: 240px;
    }
    .text{
        width: 240px;
    }
    .sub{
        width: 240px;
    }

    .sub--inline{
        width: 240px;
    }
}

