
.heading{
  font-size: 72px;
  color: #272727;
  display: block;
  margin: 1560px auto;
  margin-top: 320px;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.work__contents{
  margin: 0 auto;
  width: 720px;
  padding-bottom: 200px;
  /* background: #f1f1f1; */

}



.swiper-slide{
  position: relative;
  padding-top: 30px;
	margin-top: 120px;
  float: left;
}

.swiper-slide-right{
 margin-left: 80px;
}

.swiper-slide a{
  text-decoration: none;
}


.contents__bg{
  position: absolute;
  width: 340px;
  height: 260px;
  border-radius: 20px;
  background: #fcfcfc;
  box-shadow: 0px 0px 4px 0px rgba(39,39,39,0.2);
	/* left: -30px;
	top: 0px; */
}

.trim{
  z-index: 4;
  overflow: hidden;
  width: 320px;
  height: 240px;
  border-radius: 20px;
  position: relative;
	left: 10px;
	top: 10px;
}

.trim img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
}

.contents__title{
  font-size: 18px;
  color: #4a4a4a;
  /* letter-spacing: 4px; */
  margin-top: 36px;
  /* font-family: 'Noto Sans', sans-serif; */
  font-weight: 400;
  text-decoration: none;
}

.contents__category{
  font-size: 14px;
  margin-top: 8px;
  color: #9b9b9b;
  /* letter-spacing: 4px; */
  /* font-family: 'Noto Sans', sans-serif; */
  font-weight: 400;
  text-decoration: none;
}



@media screen and (max-width: 1024px) {
    /* 1024pxまでの幅の場合に適応される */
    .heading{
      margin: 320px auto;
    }
    .work__contents{
      margin: 0 auto;
      width: 720px;
      padding-bottom: 200px;
      /* background: #f1f1f1; */

    }

}
@media screen and (max-width: 768px) {
    /* 768pxまでの幅の場合に適応される */
    .work__contents{
      margin: 0 auto;
      width: 670px;
      padding-bottom: 200px;
      /* background: #f1f1f1; */

    }
    .contents__bg{
      width: 670px;
      height: 419px;
    }

    .trim{
      width: 626px;
      height: 375px;
      position: relative;
    	left: 22px;
    	top: 22px;
    }

}
@media screen and (max-width: 480px) {
    /* 480pxまでの幅の場合に適応される */


    .heading{
      font-size: 48px;
      margin: 40px auto;
      margin-top: 200px;
      font-family: 'Noto Sans', sans-serif;
    }


    .swiper-slide{
      padding-top: 30px;
    	margin-top: 60px;
    }
    .swiper-slide-right{
     margin-left: 0px;
    }

    .work__contents{
      margin: 0 auto;
      width: 320px;
      padding-bottom: 200px;
      /* background: #f1f1f1; */

    }
    .contents__bg{
      width: 320px;
      height: 240px;
    }

    .trim{
      width: 300px;
      height: 225px;
      position: relative;
    	left: 10px;
    	top: 7px;
    }


}
@media screen and (max-width: 320px) {
    /* 320pxまでの幅の場合に適応される */
    .work__contents{
      margin: 0 auto;
      width: 280px;
      padding-bottom: 200px;
      /* background: #f1f1f1; */

    }
    .contents__bg{
      width: 280px;
      height: 210px;
    }
    .swiper-slide-right{
     margin-left: 0px;
    }

    .trim{
      width: 260px;
      height: 195px;
      position: relative;
    	left: 10px;
    	top: 7px;
    }

    .trim img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: auto;
      height: 100%;
    }
}
