html, body{
  width: 100%;
  height: 100%;
}


.link__text{
  font-weight: bold;
  text-decoration: none;
  background: linear-gradient(transparent 60%, #f1f1f1 0%);
}

.hiveText{
  color: #FFE808;
}
.familybookText{
  color: #82C3E0;
}
.lineandballText{
  color: #31E758;
}

.playfulfesText{
  color: #FFE808;
}

.scrapboardText{
  color: #ea6363;
}

.prott{
  display: block;
  margin: 0 auto;
}

.heroImg{
  width: 100%;
  height: 100%;
}
.hiveImg{
  background: rgba(39, 39, 39, 0.1) url("../images/home/hive_home.png");
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.familybookImg{
  background: rgba(39, 39, 39, 0.1) url("../images/home/familybook_home.png");
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.lineandballImg{
  background: rgba(39, 39, 39, 0.1) url("../images/home/lineandball.png");
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


.playfulfesImg{
  background: rgba(39, 39, 39, 0.1) url("../images/home/playfulfes.png");
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.scrapboardImg{
  background: rgba(39, 39, 39, 0.1) url("../images/home/scrapboard.png");
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.workNumber{
  font-family: Georgia;
  color: #ffffff;
  font-size: 28px;
  position: absolute;
  left: 80px;
  bottom: 170px;
}
.heading{
  font-weight: 500;
  font-size: 40px;
  color: #ffffff;
  display: block;
  position: absolute;
  left: 76px;
  bottom: 106px;
}
.workCategory{
  font-size: 22px;
  color: #ffffff;
  position: absolute;
  left: 78px;
  bottom: 60px;
  /* letter-spacing: 4px; */
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
}

.work__contents{
  margin: 0 auto;
  width: 720px;
  padding-bottom: 80px;
  /* background: #f1f1f1; */
}



.content{
  width: 100%;
  /* background: red; */
  margin-top: 88px;
}

.content__right__subtitle{
  font-size: 16px;
  color: #9b9b9b;
  font-weight: lighter;
}

.content__subtitle{
  font-size: 16px;
  color: #9b9b9b;
  margin-bottom: 16px;
  font-weight: lighter;
}

.content__title{
  font-size: 24px;
  color: #272727;
  font-weight: 600;
  margin-bottom: 14px;
}

.overview__text{
  width: 466px;
  font-size: 16px;
  line-height: 32px;
  color: #4a4a4a;
  font-weight: 400;
  margin-bottom: 16px;
}

.content__award{
  margin-top: 48px;
}

.content__details, .content__tool, .content__team{
  width: 180px;
}

.rightSide .overview__text{
  margin-top: 8px;
  margin-bottom: 32px;
}

.content__details .content__subtitle{
  margin-bottom: : 0px;
}

.overview__text__task{
  font-weight: lighter;
  margin-top: 0;
}


.leftSide{
  float: left;
}

/* .rightSide{
  float: right;
} */

.worksImg{
  box-shadow: 0px 0px 4px 0px rgba(155,155,155,0.2);
}

.worksImg--big{
  display: block;
  margin-top: 44px;
  width: 100%;
}

.worksImg--Small{
  display: block;
  float: left;
  margin-top: 44px;
  width: 320px;
}
.imageEven{
  margin-left: 80px;
}

.leftSide{
  float: left;
  margin-bottom: 44px;
}
.rightSide{
  float: right;
  margin-bottom: 44px;
}


.content__text{
  width: 100%;
  line-height: 32px;
  font-size: 16px;
  line-height: 32px;
  color: #4a4a4a;
  font-weight: 400;
  margin-bottom: 16px;
}


/* ここからその他の作品コンテンツのためのCSS */

.work__contents{
  margin: 0 auto;
  width: 720px;
  /* background: #f1f1f1; */

}



.swiper-slide{
  position: relative;
  padding-top: 30px;
  margin-bottom: 40px;
  float: left;
}

.swiper-slide-right{
 margin-left: 80px;
}

.swiper-slide a{
  text-decoration: none;
}




.contents__bg{
  position: absolute;
  width: 340px;
  height: 260px;
  border-radius: 20px;
  background: #fcfcfc;
  box-shadow: 0px 0px 4px 0px rgba(155,155,155,0.2);
  transition: 0.2s;
  transition-timing-function:ease-out;
	/* left: -30px;
	top: 0px; */
}
.contents__bg:hover{
  box-shadow: 0px 0px 20px 0px rgba(155,155,155,0.2);
}


.swiper-slide:hover .contents__bg{
  box-shadow: 0px 0px 20px 0px rgba(155,155,155,0.2);
}

.trim{
  z-index: 4;
  overflow: hidden;
  width: 320px;
  height: 240px;
  border-radius: 20px;
  position: relative;
	left: 10px;
	top: 10px;
}

.trim img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
}

.contents__title{
  font-size: 18px;
  color: #4a4a4a;
  /* letter-spacing: 4px; */
  margin-top: 36px;
  /* font-family: 'Noto Sans', sans-serif; */
  font-weight: 400;
  text-decoration: none;
}

.contents__category{
  font-size: 14px;
  margin-top: 8px;
  color: #9b9b9b;
  /* letter-spacing: 4px; */
  /* font-family: 'Noto Sans', sans-serif; */
  font-weight: 400;
  text-decoration: none;
}



@media screen and (max-width: 1024px) {
    /* 1024pxまでの幅の場合に適応される */
}
@media screen and (max-width: 768px) {
    /* 768pxまでの幅の場合に適応される */
}
@media screen and (max-width: 480px) {
    /* 480pxまでの幅の場合に適応される */

    .workNumber{
      font-size: 16px;
      left: 24px;
      bottom: 94px;
    }
    .heading{
      font-size: 22px;
      left: 24px;
      bottom: 60px;
    }
    .workCategory{
      font-size: 14px;
      left: 24px;
      bottom: 32px;
    }

    .work__contents{
      margin: 0 auto;
      width: 320px;

      /* background: #f1f1f1; */
    }


    .content{
      width: 100%;
      /* background: red; */
      margin-top: 64px;
    }

    .content__right__subtitle{
      font-size: 12px;
      color: #9b9b9b;
      font-weight: lighter;
    }

    .content__subtitle{
      font-size: 12px;
      color: #9b9b9b;
      margin-bottom: 16px;
      font-weight: lighter;
    }

    .content__title{
      font-size: 18px;
      color: #272727;
      font-weight: 600;
      margin-bottom: 8px;
      line-height: 24px;
    }

    .overview__text{
      width: 320px;
      font-size: 12px;
      line-height: 32px;
      color: #272727;
      font-weight: 400;
      margin-bottom: 16px;
    }

    .content__award{
      margin-top: 32px;
    }

    .content__details, .content__tool, .content__team{
      /* width: 100px;
      float: left; */
      display: none;
    }


    .content__text{
      font-size: 12px;
      margin-bottom: 0px;
    }


    .familybookImg{
      background: rgba(39, 39, 39, 0.1) url("../images/home/familybook_home.png");
      background-blend-mode: multiply;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment:scroll;
      background-size: cover;
    }

    .lineandballImg{
      background: rgba(39, 39, 39, 0.1) url("../images/home/lineandball.png");
      background-blend-mode: multiply;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment:scroll;
      background-size: cover;
    }


    .playfulfesImg{
      background: rgba(39, 39, 39, 0.1) url("../images/home/playfulfes.png");
      background-blend-mode: multiply;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment:scroll;
      background-size: cover;
    }

    .scrapboardImg{
      background: rgba(39, 39, 39, 0.1) url("../images/home/scrapboard.png");
      background-blend-mode: multiply;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment:scroll;
      background-size: cover;
    }
    .hiveImg{
      background: rgba(39, 39, 39, 0.1) url("../images/home/hive_home.png");
      background-blend-mode: multiply;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment:scroll;
      background-size: cover;
    }


    .imageEven{
      margin-left: 0px;
    }


    /*そのほかの作品について  */

    .swiper-slide{
      padding-top: 30px;
    }
    .swiper-slide-right{
     margin-left: 0px;
    }

    .work__contents{
      margin: 0 auto;
      width: 320px;
      /* background: #f1f1f1; */

    }
    .contents__bg{
      width: 320px;
      height: 240px;
    }

    .trim{
      width: 300px;
      height: 225px;
      position: relative;
    	left: 10px;
    	top: 7px;
    }



}
@media screen and (max-width: 320px) {
    /* 320pxまでの幅の場合に適応される */

    .workNumber{
      font-size: 16px;
      left: 24px;
      bottom: 94px;
    }
    .heading{
      font-size: 18px;
      left: 24px;
      bottom: 60px;
    }
    .workCategory{
      font-size: 12px;
      left: 24px;
      bottom: 32px;
    }

    .work__contents{
      margin: 0 auto;
      width: 300px;
      padding-bottom: 200px;
      /* background: #f1f1f1; */
    }


    .content{
      width: 100%;
      /* background: red; */
      margin-top: 64px;
    }

    .content__right__subtitle{
      font-size: 12px;
      color: #9b9b9b;
      font-weight: lighter;
    }

    .content__subtitle{
      font-size: 12px;
      color: #9b9b9b;
      margin-bottom: 16px;
      font-weight: lighter;
    }

    .content__title{
      font-size: 18px;
      color: #272727;
      font-weight: 600;
      margin-bottom: 14px;
    }

    .overview__text{
      width: 300px;
      font-size: 12px;
      line-height: 32px;
      color: #272727;
      font-weight: 400;
      margin-bottom: 16px;
    }

    .content__award{
      margin-top: 32px;
    }

    .content__details, .content__tool, .content__team{
      /* width: 100px;
      float: left; */
      display: none;
    }


    .content__text{
      font-size: 12px;
    }

    .imageEven{
      margin-left: 0px;
    }


    /*そのほかの作品について  */

    .work__contents{
      margin: 0 auto;
      width: 280px;

      /* background: #f1f1f1; */

    }
    .contents__bg{
      width: 280px;
      height: 210px;
    }
    .swiper-slide-right{
     margin-left: 0px;
    }

    .trim{
      width: 260px;
      height: 195px;
      position: relative;
    	left: 10px;
    	top: 7px;
    }

    .trim img {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: auto;
      height: 100%;
    }
}
