html, body{
  width: 100%;
  height: 100%;
}


.link__text{
  font-weight: bold;
  text-decoration: none;
  background: linear-gradient(transparent 60%, #f1f1f1 0%);
}
.familybookText{
  color: #82C3E0;
}
.lineandballText{
  color: #31E758;
}

.playfulfesText{
  color: #FFE808;
}

.scrapboardText{
  color: #ea6363;
}

.prott{
  display: block;
  margin: 0 auto;
}

.heroImg{
  width: 100%;
  height: 100%;
}

.familybookImg{
  background: rgba(39, 39, 39, 0.1) url("../images/home/familybook_home.png");
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.lineandballImg{
  background: rgba(39, 39, 39, 0.1) url("../images/home/lineandball.png");
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


.playfulfesImg{
  background: rgba(39, 39, 39, 0.1) url("../images/home/playfulfes.png");
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.scrapboardImg{
  background: rgba(39, 39, 39, 0.1) url("../images/home/scrapboard.png");
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.workNumber{
  font-family: Georgia;
  color: #ffffff;
  font-size: 28px;
  position: absolute;
  left: 80px;
  bottom: 170px;
}
.heading{
  font-weight: 500;
  font-size: 40px;
  color: #ffffff;
  display: block;
  position: absolute;
  left: 76px;
  bottom: 106px;
}
.workCategory{
  font-size: 22px;
  color: #ffffff;
  position: absolute;
  left: 78px;
  bottom: 60px;
  /* letter-spacing: 4px; */
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
}

.work__contents{
  margin: 0 auto;
  width: 720px;
  padding-bottom: 200px;
  /* background: #f1f1f1; */
}



.content{
  width: 100%;
  /* background: red; */
  margin-top: 88px;
}

.content__right__subtitle{
  font-size: 16px;
  color: #9b9b9b;
  font-weight: lighter;
}

.content__subtitle{
  font-size: 16px;
  color: #9b9b9b;
  margin-bottom: 16px;
  font-weight: lighter;
}

.content__title{
  font-size: 24px;
  color: #272727;
  font-weight: 600;
  margin-bottom: 14px;
}

.overview__text{
  width: 466px;
  font-size: 16px;
  line-height: 32px;
  color: #272727;
  font-weight: 400;
  margin-bottom: 16px;
}

.content__award{
  margin-top: 48px;
}

.content__details, .content__tool, .content__team{
  width: 180px;
}

.rightSide .overview__text{
  margin-top: 8px;
  margin-bottom: 32px;
}

.content__details .content__subtitle{
  margin-bottom: : 0px;
}

.overview__text__task{
  font-weight: lighter;
  margin-top: 0;
}


.leftSide{
  float: left;
}

.rightSide{
  float: right;
}

.worksImg{

  box-shadow: 0px 0px 10px 0px rgba(39,39,39,0.2);
}

.worksImg--big{
  display: block;
  margin-top: 44px;
  width: 100%;
}

.worksImg--Small{
  display: block;
  margin-top: 44px;
  width: 320px;
}

.leftSide{
  float: left;
  margin-bottom: 44px;
}
.rightSide{
  float: right;
  margin-bottom: 44px;
}


.content__text{
  width: 100%;
  line-height: 32px;
  font-size: 16px;
  line-height: 32px;
  color: #272727;
  font-weight: 400;
  margin-bottom: 16px;
}


@media screen and (max-width: 1024px) {
    /* 1024pxまでの幅の場合に適応される */
}
@media screen and (max-width: 768px) {
    /* 768pxまでの幅の場合に適応される */
}
@media screen and (max-width: 480px) {
    /* 480pxまでの幅の場合に適応される */

    .workNumber{
      font-size: 20px;
      left: 24px;
      bottom: 148px;
    }
    .heading{
      font-size: 28px;
      left: 24px;
      bottom: 106px;
    }
    .workCategory{
      font-size: 16px;
      left: 24px;
      bottom: 72px;
    }

    .work__contents{
      margin: 0 auto;
      width: 320px;
      padding-bottom: 200px;
      /* background: #f1f1f1; */
    }


    .content{
      width: 100%;
      /* background: red; */
      margin-top: 64px;
    }

    .content__right__subtitle{
      font-size: 12px;
      color: #9b9b9b;
      font-weight: lighter;
    }

    .content__subtitle{
      font-size: 12px;
      color: #9b9b9b;
      margin-bottom: 16px;
      font-weight: lighter;
    }

    .content__title{
      font-size: 18px;
      color: #272727;
      font-weight: 600;
      margin-bottom: 14px;
    }

    .overview__text{
      width: 320px;
      font-size: 12px;
      line-height: 32px;
      color: #272727;
      font-weight: 400;
      margin-bottom: 16px;
    }

    .content__award{
      margin-top: 32px;
    }

    .content__details, .content__tool, .content__team{
      /* width: 100px;
      float: left; */
      display: none;
    }


    .content__text{
      font-size: 12px;
    }


    .familybookImg{
      background: rgba(39, 39, 39, 0.1) url("../images/home/familybook_home.png");
      background-blend-mode: multiply;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment:scroll
      background-size: cover;
    }

    .lineandballImg{
      background: rgba(39, 39, 39, 0.1) url("../images/home/lineandball.png");
      background-blend-mode: multiply;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment:scroll
      background-size: cover;
    }


    .playfulfesImg{
      background: rgba(39, 39, 39, 0.1) url("../images/home/playfulfes.png");
      background-blend-mode: multiply;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment:scroll;
      background-size: cover;
    }

    .scrapboardImg{
      background: rgba(39, 39, 39, 0.1) url("../images/home/scrapboard.png");
      background-blend-mode: multiply;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment:scroll;
      background-size: cover;
    }




}
@media screen and (max-width: 320px) {
    /* 320pxまでの幅の場合に適応される */
    .workNumber{
      font-size: 20px;
      left: 24px;
      bottom: 148px;
    }
    .heading{
      font-size: 24px;
      left: 24px;
      bottom: 106px;
      font-family: 'Noto Sans', sans-serif;
    }
    .workCategory{
      font-size: 12px;
      left: 24px;
      bottom: 72px;
    }

    .work__contents{
      margin: 0 auto;
      width: 300px;
      padding-bottom: 200px;
      /* background: #f1f1f1; */
    }


    .content{
      width: 100%;
      /* background: red; */
      margin-top: 64px;
    }

    .content__right__subtitle{
      font-size: 12px;
      color: #9b9b9b;
      font-weight: lighter;
    }

    .content__subtitle{
      font-size: 12px;
      color: #9b9b9b;
      margin-bottom: 16px;
      font-weight: lighter;
    }

    .content__title{
      font-size: 18px;
      color: #272727;
      font-weight: 600;
      margin-bottom: 14px;
    }

    .overview__text{
      width: 300px;
      font-size: 12px;
      line-height: 32px;
      color: #272727;
      font-weight: 400;
      margin-bottom: 16px;
    }

    .content__award{
      margin-top: 32px;
    }

    .content__details, .content__tool, .content__team{
      /* width: 100px;
      float: left; */
      display: none;
    }


    .content__text{
      font-size: 12px;
    }
}
